.main_background {
    background-color: #e5e5e5;
    padding-bottom: 4rem;
}



/* header */

.main_header {
    padding: 5vw;
}
.options{
    display: none;
    cursor: pointer;
}


/* Main - Gallery */
.gallery {
    max-width: 1169px;
    margin: auto;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 332px;
    grid-template-columns: 1fr;
    padding: 1rem;
}

.card {
    background-color: var(--white);
    border-radius: .75rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
}
.card_image {
    background: url(../assets/Biomutant-screenshots-gallery-08-24-2017-1.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 11.875rem;
    position: relative;
}
.card_image::after{
    content: url(../assets/icons/heart.svg);
    position: absolute;
    top: .42rem;
    right: .33rem;
}
.card_content {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr;
    grid-template-areas: 
            "title number"
            "realease date"
            "genres genresnames"
            "icons icons"; */
    gap: .5rem;
}
.card_content div:nth-child(1){
    width: 100%;
    justify-content: space-between;
}
.card_content div:nth-child(2){
    width: 70%;
}
.card_content div:nth-child(3){
    width: 70%;
}
.card_title {
    font-size: 1.5rem;
    font-weight: 700;
    padding-block: .5rem;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.card_number{
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--light-violet);
    text-align: end;
}
.card_realease {
    color: #939393;
}

.card_genres {
    color: #939393;
}
.card_genres_names{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.card_genres_names:hover {
    overflow: visible;
    background-color: var(--light-violet);
    padding: .5rem;
    position: absolute;
    left: 20%;
    border-radius: .25rem;
}
.card_icons {
    width: 30%;
    height: 1.25rem;
    padding-top: .5rem;
    font-size: .5rem;
    flex-wrap: wrap;
    gap: .25rem;
    justify-content: end;
}
.card_icons img{
    width: 15px;
}
.card_description {
    width: 617px;
    display: none;
    height: 76px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}



@media screen and (min-width: 768px) {
    .main_header {
        display: flex;
        justify-content: space-between;
    }
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        padding-inline: 1.5rem;
        grid-auto-rows: 314px;
    }
    .options {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .options .mode {
        display: initial;
    }
    .options .switch {
        display: flex;
        background-color: var(--e1-gray);
    }
    .three-col, .one-col {
        background-color: var(--e1-gray);
        padding: .5rem;
        height: 2rem;
        border-radius: .5rem;
        opacity: 0.3;
    }
    .three-col.active, .one-col.active {
        background-color: var(--e1-gray);
        opacity: 1;
    }

    .card_content  {
        position: relative;
    }
    .card_icons {
        position: absolute;
        top: 3rem;
        right: 1rem;
    }
}

    /* One-column gallery design */
    .one-column {
        grid-template-columns: 1fr;
        grid-auto-rows: 516px;
        width: 697px;
    }

    .one-column .card_image {
        height: 20rem;
    }
    /* .one-column .card_content {
        row-gap: 2rem;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: 
                "title title title title title title number"
                "realease date genres genresnames . . icons"
                "desc desc desc desc desc desc desc";
        gap: .5rem;
    } */
    .one-column .card_description {
        display: block;
    }


    /* Search */
.hide {
    display: none;
}


@media screen and (min-width: 1440px) {
    .main_background {
        display: grid;
        grid-template-areas: 
                'mainheader mainheader mainheader'
                'mainmenu gallery gallery';
    }
    .main_header {
        grid-area: mainheader;
    }
    .gallery {
        grid-area: gallery;
    }
    #menu{
        grid-area: mainmenu;
    }
   
}