  @import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url(login.css);
@import url(main.css);
@import url(menu.css);



/* Variables */
:root {
    /* Colors */
    /* Primary */
    --light-violet: #bf5fe1;
    --super-violet: #6a20b4;
    /* Secondary */
    --cool-pink: #EFC0FF;
    --bright-purple: #1245c9;
    --deep-purple: #39067B;
    --coral-reef: #fb5f5f;
    --hey-honey: #ffdc22;
    /* Neutrals */
    --black: #1b1b1b;
    --dark-gray: #303030;
    --gray: #515151;
    --light-gray: #939393;
    --white: #fff;

    --invalid-red: #ff0000;

    /* Typography */
    --archivo: 'Archivo', sans-serif;
    --exo: 'Exo', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
}

* {
    font-family: var(--archivo);
    color: var(--black);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html {
    background-color: var(--black);
    color: var(--white);
} */


/* Typography */
h1 {
    font-size: max(1.75rem, 3.33vw);
    font-weight: 800;
    /* line-height: 52.22px; */
}
h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 34.82px;
}
h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 26.11px;
}
h4 {
    font-size: max(0.875rem, 1.25vw);
}
h5 {
    font-size: 1rem;
    line-height: 20.8px;
}
h6 {
    font-size: 0.875rem;
    line-height: 18.2px;
}
p {
    font-size: .875rem;
    line-height: 15.23px;
}

a {
    text-decoration: none;
}

.bold {
    font-weight: 700;
}

.flex{
    display: flex;
    gap: 10px;
    align-items: center;
}
