.login-bg {
    background-image: url(../assets/unsplash_jCorhBYp_C4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 100%;
    padding-bottom: 6rem;
}
.blur-layer {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    height: 100%;
    min-height: 100vh;
}


/* header - logo */

#logo {
    padding-block: 27.84px;
    justify-content: center;
}

.logo-img {
    width: 49.58px;
    height: 64.17px;
    background-image: url(../assets/Joystick31.png);
    background-size: contain;
    transform: rotate(-15deg);
}
.game {
    color: var(--super-violet);
    text-transform: uppercase;
    font-size: 2.375rem;
    line-height: 109%;
    margin: 0;
}

.archive {
    color: #414141;
    font-size: 1rem;
    line-height: 106.6%;
    letter-spacing: 6.72px;
    text-transform: uppercase;
    margin: 0;
}


/* Form */
#login-main {
    text-align: center;
    padding: 1rem;
}
#login-main h1 {
    font-size: 1.25rem;
    line-height: 108.8%;
    font-weight: 700;
}
#login-main p {
    font-size: .875rem;
    margin-block: .875rem;
}
#login-form{
    padding: 0;
    margin-block: 2rem;
    position: relative;
}
.form-input{
    width: 100%;
    padding: 10.58px 12.73px;
    height: 47px;
    border: none;
    border-radius: .25rem;
    margin-top: 1rem;
}
.form-input:focus{
    outline: none;
}

input::placeholder {
    font-size: 0.875rem;
    color: var(--light-gray);
}
.invalid-email, .invalid-password {
    display: none;
    text-align: start;
    color: var(--invalid-red);
}

#eye {
    position: absolute;
    /* margin: 27px 0px 0px -33px; */
    top: 92px;
    right: 13px;
    cursor: pointer;
}

#checkbox {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 1rem 0;
    padding: 0;
    border: 2px solid #000;
    border-radius: 20%;
    accent-color: var(--light-violet);
}

/* #checkbox {
    appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 1rem 0;
    padding: 0;
    border: 2px solid #000;
    border-radius: 20%;
}
#checkbox:checked{
    background: var(--light-violet) url(../assets/icons/check.svg) no-repeat center;
    background-size:contain;
} */



.remember, .remember p {
    font-family: 'Exo';
    justify-content: space-between;
    font-size: 0.875rem;
    color: var(--gray);
}
.register a, .remember a{
    color: var(--light-violet);
}
.register, .register p {
    color: var(--gray);
    font-family: var(--sans-serif);
    justify-content: center;
}

.or {
    justify-content: center;
    margin-bottom: 1rem;
}
.or hr {
    width: 40%;
}

.login-social div {
    height: 47px;
    border: solid 2px var(--light-violet);
    border-radius: 0.375rem;
    margin-bottom: 1rem;
    padding-left: 25%;
    color: var(--light-violet);
    cursor: pointer;
}




/* Media Queries */
/* Tablet screen */

@media screen and (min-width: 768px) {
    .blur-layer {
        background-color: transparent;
        backdrop-filter: none;
    }
    
    #login-main {
        width: 28.875rem;
        /* height: 43.875rem; */
        border-radius: 0.75rem;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(5px);
        padding: 3.125rem;
        margin: 4.18rem auto;
    }
    #login-form {
        margin-block: 0;
    }
    #logo {
        padding-top: 3.75rem;
    }
    
    .logo-img {
        width: 57.41px;
        height: 73.05px;
    }
    .game {
        font-size: 2.75rem;
    }
    
    .archive {
        font-size: 1.125rem;
        letter-spacing: 7.7px;
    }
}

/* Desktop screen */
@media screen and (min-width: 1440px) {
    .login-bg {
        height: auto;
    }
    #logo {
        padding-top: 3.125%;
        padding-left: 2.2%;
        justify-content: start;
    }
    .logo-img {
        width: 44.24px;
        height: 57.26px;
    }
    .game {
        font-size: 2.125rem;
    }
    
    .archive {
        font-size: .875rem;
        letter-spacing: 6px;
    }
    #login-main {
        margin: 8.8% 0px 0 61%;
    }
}