aside {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: start !important;
    padding: 1rem;
    font-size: .83rem;
}

.btn-close {
    position: absolute;
    top: 1.31rem;
    right: 1.31rem;
    cursor: pointer;
}
.user {
    font-family: var(--exo);
    display: grid;
    grid-template-areas: 
        "a b"
        "a c";
    column-gap: .5rem;
    margin-bottom: .5rem;
}
#user_img {
    grid-area: a;
}
#name{
    font-size: 1.125rem;
    line-height: 1.5rem;
    grid-area: b;
}
#user_name{
    font-size: .875rem;
    line-height: 1.16rem;
    grid-area: c;
}
.sections {
    margin-top: 1.5rem;
    margin-bottom: 2.52rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
div.sections > .bold{
    font-size: .92rem;
    line-height: 1rem;
}

div.sections > .active {
    color: var(--light-violet);
}
div.sections > img {
    width: 18px;
    height: 18px;
}
.divisor {
    border: solid 1px #e4e4e4;
    width: calc(100% + 2rem);
    margin-inline-start: -1rem;
    margin-inline-end: -1rem;
}


.icon-text{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

#dark, #logout {
    font-family: var(--exo);
    font-size: .94rem;
}

.switch {
    width: 2.75rem;
    height: 1.375rem;
    background-color: #e1e1e4;
    border-radius: 100px;
    border: none;
    outline: none;
    padding: .4rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: .3rem;
    cursor: pointer;
}
.switch p{
    font-size: .5rem;
}
.switch::after {
    content: '';
    display: block;
    width: 1.125rem;
    height: 1.125rem;
    background-color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    margin: .1rem;
    transition: .3s ease all;
}
.switch.active {
    background-color: #5F81FB;
}
.switch.active p {
    color: var(--white);
}
.switch.active::after {
    right: 0;
    left: unset;
}