.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

.modal.active {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
#logout-modal .modal_container {
    width: 386px;
    height: 283px;
    background-color: var(--white);
    padding: 1rem;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}
#logout-modal h3 {
    font-weight: 700;
    color: black;
}
#logout-modal p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.3;
    padding-inline: 1rem;
    color: black;
}
.modal_container .close {
    align-self: end;
    cursor: pointer;
}
.modal .btn {
    width: 100%;
    height: 47px;
    margin-bottom: 0;
    border-radius: 5px;
}

