
.card_modal .modal_container {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.card_modal .card_image {
    height: 358px;
    background-color: var(--white);

}

.card_modal .gradient_layer {
    background: linear-gradient( #ffffff00, #fff);
    width: 100%;
    height: 100%;

}

.card_modal .card_content {
    position: absolute;
    top: 100px;
    justify-content: end;
}

.card_modal .card_image::after {
    display: none;
}


.card_modal .card_icons {
    position: absolute;
    top: 0;
    left: 2rem;
    justify-content: start;
}

.card_modal .card_title {
    color: var(--white);
    font-size: 1.75rem;
    font-weight: 800;
}

.card_modal .card_icons img {
    width: 1.5rem;
}

.card_modal .card_highlights {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card_modal .card_highlights p {
    color: var(--white);
    background-color: black;
}